.center {
  position: absolute;
  width: 100%;
  padding: 1rem;
  top: 30%;
}
.app {
  background: #6e1616;
}

.bar {
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  background: white;
}
.dimmed {
  text-decoration-line: line-through;
  color: var(--adm-color-weak);
}
body {
  background: #f5f7fa;
  margin: 0px;
  padding: 0px;
}
