.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  background: white;
}
.dimmed {
  text-decoration-line: line-through;
  color: var(--adm-color-weak);
}
body {
  background: #f5f7fa;
  margin: 0px;
  padding: 0px;
}
.red {
  color: red;
}
